---
layout: default
---

<div class="framework">
  <section class="main">

     {{ content }}

  </section>
  <section class="sidebar" style="margin-left: 15px;">
    <!-- Enlaces Esporton -->
    {% if site.sidebar_links %}
      <div class="custom-sidebar-links">
        <!-- <h3>Enlaces</h3> -->
        <ul>
          {% for link in site.sidebar_links %}
            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <!-- Get sidebar items -->
    {%- if page.sidebar -%}
      {%- assign sidebar = page.sidebar -%}
    {%- elsif site.defaults[page.layout].sidebar -%}
      {%- assign sidebar = site.defaults[page.layout].sidebar -%}
    {%- elsif layout.sidebar -%}
      {%- assign sidebar = layout.sidebar -%}
    {%- endif -%}

    {%- for item in sidebar -%}

      {%- assign file = item -%}
      {%- assign array = file | split: '.' -%}
      {%- if array.size == 1 -%}
        {%- assign file = file | append: '.html' -%}
      {%- endif -%}

      {%- assign file = 'sidebar/' | append: file -%}

      {%- include {{ file }} %}

    {%- endfor -%}
  </section>
</div>
